---
title: Automated Testing Roundtables GDC 2019
---

.jumbotron
  .container
    .text-info
      %h1
        AUTOMATED TESTING ROUNDTABLES
    %h2
      GDC 2020
  
.container
  .row
    .col-md-8.col-md-push-2
      %p.lead
        Well, That Didn't Go According To Plan
      %p
        GDC will be back, in some form, at some time, and the roundtables will return. 
      %p
        Until then, this website still has some great resources for automated testing in video games! Scroll down for more info.
  %br
  .row
    .col-md-8.col-md-push-2
      %p.lead 
        Join the Community
      %p
        Check out some of the <a href="#recommend">talks around GDC 2020</a> that we recommend, and some of the <a href="#vault">vault talks</a> we've enjoyed in the past. 
      %p
        If you'd like to keep in touch all year round, why not join our Discord?
      %a.btn.btn-primary{:role => "button", :href => "https://discord.gg/knxeqcG"}
        Join the Discord!
.container
  .row
    %p
%hr        
.container{:id => "vault"}
  .row
    .col-md-8.col-md-push-2
      %p.lead
        Interesting talks to watch right now
      %p
        Here are some that we've enjoyed in previous years. If you know one that we haven't got listed here, from any year, let us know by dropping by the <a href="https://discord.gg/knxeqcG">discord</a>, or email <a href="mailto:andrew@autotestingroundtable.com">andrew@autotestingroundtable.com</a>.
.container
  .row
    - data.vault.current.each do |talksgroup|
      .row
      - talksgroup.each do |talk|
        .col-md-3
          .panel.panel-danger
            .panel-heading
              %h3.text-center= talk.title
            .panel-body
              %p
                #{talk.speakers}, #{talk.year}
              %p
                %a{:href => "#{talk.url}"} Play on the Vault
                - if talk.free
                  FREE!
              %p= talk.desc
.container{:id => "notes"}
  .row
    .col-md-8.col-md-push-2
      %p.lead
        Notes from previous years
      %p
        <a href="Notes2018DayOne.html">Notes from Process, 2018</a>
      %p
        <a href="Notes2018DayTwo.html">Notes from Legacy, 2018</a>
%hr            
.container          
  .row
    .col-md-8.col-md-push-2
      %p
        If you have any questions or just want to say hi: <a href="mailto:andrew@autotestingroundtable.com">andrew@autotestingroundtable.com</a>, <a href="https://www.twitter.com/tenpn">@tenpn</a>
.container        
  %footer
    %p.pull-right
      &copy; Andrew Fray 2014-2020 n
