---
title: Automated Testing Roundtables GDC 2024
---

.jumbotron
  .container
    .text-info
      %h1
        AUTOMATED TESTING ROUNDTABLES
    %h2
      GDC 2024
  
.container
  .row
    .col-md-8.col-md-push-2
      %p.lead
        The Automated Testing Roundtables are back again at GDC 2024!
      %p
        Each session focuses on a different discipline, but cut across team sizes, budgets, genres, and platforms. We don't care if you're a iOS-only one-person indie or a console juggernaut, we just want to hear your voice!
.container
  .row
    .col-md-4.col-md-push-2
      %p.h4
        Resources
      %p
        Check out some of the <a href="#recommend">talks around GDC 2024</a> that we recommend, and some of the <a href="#vault">vault talks</a> we've enjoyed in the past. Henry Golding and friends also maintain a Trello of useful resources:
      %a.btn.btn-primary{:role => "button", :href => "https://trello.com/b/nGE5yqZk/game-automated-testing-resource-hub"}
        Automated Testing Resources
    .col-md-4.col-md-push-2
      %p.h4
        Community
      %p
        If you'd like to keep in touch all year round, why not join our Discord?
      %a.btn.btn-primary{:role => "button", :href => "https://discord.gg/kzWcY6ghAb"}
        Join the Discord!
.container
  .row
    %p
.container  
  .row
    .col-md-4
      .panel.panel-info
        .panel-heading
          %h3.text-center
            Process Roundtable
        .panel-body
          %p 
            <a href="https://schedule.gdconf.com/session/automated-testing-roundtable-day-1-process/898690">Wednesday TBD</a>
          %p
            Beyond the software that we use to test our games are the people that write the tests and the workflows they use to reinforce them. How does the process work in your studio? Are the engineers responsible for automated tests, or QA? Are QA silo'd or integrated? What could be better?
    .col-md-4
      .panel.panel-info
        .panel-heading
          %h3.text-center
            Legacy Roundtable
        .panel-body
          %p 
            <a href="https://schedule.gdconf.com/session/automated-testing-roundtable-day-2-legacy/903281">Thursday TBD</a>
          %p
            As much as we would like otherwise, automated testing is still a rarity in our industry. Do you have a culture or a codebase that doesn't currently embrace automated testing? Are you having trouble getting people onboard, or maybe it was very easy and you want to share why? Grand failures are just as interesting as successes! 
    .col-md-4
      .panel.panel-info
        .panel-heading
          %h3.text-center
            Implementation Roundtable
        .panel-body
          %p
            <a href="https://schedule.gdconf.com/session/automated-testing-roundtable-day-3-implementation/903282">Friday TBD</a>
          %p
            Software automation has many faces, from locally-run functional and unit tests, to server-driven continuous integration, and even external device farms. How do you do automated testing in your team? What works well for you? More interestingly, what didn't work and why? 
%hr            
.container{:id => "recommend"}
  .row
    .col-md-8.col-md-push-2
      %p.lead
        More automated testing talks at GDC 2024
      %p
        Here's a selection of talks that we think might be interesting to Automated Testing Roundtable attendees. Add them to your schedule now! 
      %p
        If you've spotted any that you think would be interesting to roundtable attendees, let us know in the <a href="https://discord.gg/kzWcY6ghAb">discord</a>.
.container
  .row
    - data.schedule.current.each do |talksgroup|
      .row
      - talksgroup.each do |talk|
        .col-md-3
          .panel.panel-danger
            .panel-heading
              %h3.text-center= talk.title
            .panel-body
              %p= talk.speakers
              %p= talk.pass
              %p
                %a{:href => "#{talk.url}"} #{talk.time}, #{talk.location}
              %p= talk.desc
%hr        
.container{:id => "vault"}
  .row
    .col-md-8.col-md-push-2
      %p.lead
        Interesting talks to watch right now
      %p
        Here are some that we've enjoyed in previous years. If you know one that we haven't got listed here, from any year, let us know by dropping by the <a href="https://discord.gg/kzWcY6ghAb">discord</a>.
.container
  .row
    - data.vault.current.each do |talksgroup|
      .row
      - talksgroup.each do |talk|
        .col-md-3
          .panel.panel-danger
            .panel-heading
              %h3.text-center= talk.title
            .panel-body
              %p
                #{talk.speakers}, #{talk.year}
              %p
                %a{:href => "#{talk.url}"} Play on the Vault
                - if talk.free
                  FREE!
              %p= talk.desc
.container{:id => "notes"}
  .row
    .col-md-8.col-md-push-2
      %p.lead
        Notes from previous years
      %p
        <a href="Notes2018DayOne.html">Notes from Process, 2018</a>
      %p
        <a href="Notes2018DayTwo.html">Notes from Legacy, 2018</a>
      %p
        2021: <a href="https://github.com/Kadino/gdconf_notes/blob/main/gdc2021.md#automated-testing-roundtable-day-1-process">Process</a>, <a href="https://github.com/Kadino/gdconf_notes/blob/main/gdc2021.md#automated-testing-roundtable-day-2-legacy">Legacy</a>, <a href="https://github.com/Kadino/gdconf_notes/blob/main/gdc2021.md#automated-testing-roundtable-day-3-implementation">Implementation</a> (Thanks to Sean Sweeny)
%hr            
.container          
  .row
    .col-md-8.col-md-push-2
      %p
        If you have any questions or just want to say hi: <a href="https://www.twitter.com/tenpn">@tenpn</a>
.container        
  %footer
    %p.pull-right
      &copy; Andrew Fray 2014-2023 n
